.footer-container {
  background-color: #242424;
  padding: 4rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-container a {
  color: #ffffff;
  text-decoration: none;
  transition: 0.25s;
}

.footer-container a:hover {
  color: #808080;
}

.footer-subscription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin-bottom: 24px;
  padding: 24px;
  color: #ffffff;
}

.footer-subscription > p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
  'Lucida Sans', Arial, sans-serif;
}

.footer-subscription-heading {
  margin-bottom: 24px;
  font-size: 24px;
}

.footer-subscription-text {
  margin-bottom: 24px;
  font-size: 20px;
}

.footer-input {
  padding: 8px 20px;
  border-radius: 2px;
  margin-right: 10px;
  outline: none;
  font-size: 18px;
  margin-bottom: 16px;
  border: 1px solid #ffffff;
  width: 320px;
}

.footer-links {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}

.footer-link-wrapper {
  display: flex;
}

.footer-link-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px;
  text-align: left;
  width: 160px;
  box-sizing: border-box;
}

.footer-link-items h2 {
  margin-bottom: 16px;
}

.footer-link-items > h2 {
  color: #ffffff;
}

.footer-link-items a {
  margin-bottom: 0.5rem;
}

.footer-email-form h2 {
  margin-bottom: 2rem;
}

.footer-input::placeholder {
  color: #b1b1b1;
}

.social-icon-link {
  color: #ffffff;
  font-size: 24px;
}

.social-media {
  max-width: 1000px;
  width: 100%;
  margin-top: 20px;
}

.social-media-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
}

.copyrights {
  color: #ffffff;
}

.copyrights .author {
  color: #808080;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 190px;
}

@media screen and (max-width: 820px) {
  .footer-links {
    padding-top: 2rem;
  }

  .footer-input {
    width: 100%;
  }

  .btn {
    width: 100%;
  }

  .footer-link-wrapper {
    flex-direction: column;
  }

  .social-media-wrap {
    flex-direction: column;
  }

  .copyrights {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 576px) {
  .footer-links {
    flex-direction: column;
  }

  .footer-link-items {
    margin: 0 auto 30px;
    align-items: center;
  }
}
