* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.products,
.sign-up {
  display: flex;
  min-height: calc(100vh - 80px);
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services:after,
.products:after,
.sign-up:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  min-height: calc(100vh - 80px);
}

.services .services-content,
.products .products-content,
.sign-up .sign-up-content {
  position: relative;
  z-index: 3;
}

.services .services-content h3,
.products .products-content h3,
.sign-up .sign-up-content h3 {
  font-size: 60px
}


.services {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  font-size: 100px;
}

.products {
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  font-size: 100px;
}

.sign-up {
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  font-size: 100px;
}

/* Start Chrome Scrollbar */

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #1a1717;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* End Chrome Scrollbar */
